html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

.Dono{
    display: flex;
    justify-content: center;
}

.DonateButton{
    width: 25%;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 900;
    font-size: x-large;
    border: none;
    color: rgb(233, 233, 2);
    background-color: #0202a2;
    margin-top: 50px;
}

.DonateButton:hover{
    border-radius: 2rem;
}

p{
    font-weight: bold;
    font-size:x-large;
}

.information li{
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size:xx-large;
}

.page-content{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    width: 100%;
    margin-bottom: 300px;
}

.page-content-end{
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    width: 100%;
    margin-bottom: 300px;
}

.page-content-end .information{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}

.content img{
    border-radius: 2rem;
    justify-content: center;
    align-content: center;
}

.content{
    display: flex;
    flex-basis: 35%;
    justify-content: center;
}

.information{
    flex-basis: 65%;
    align-items: center;
}

.information p{
    margin: 50px;
    width: 80%;
    text-align: center;
    font-size: xx-large;
}